.App {
  text-align: center;
}

#root {
  margin: 5rem;
  word-spacing: 8px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-container {
  border: 2px blue solid;
  padding: 1rem;
  text-align: center;
  width: 32rem;
  margin: auto;
  display: grid;
}
.score-placeholder {
  margin-right: auto;
}

.table-wrapper {
  border: 10px lime solid;
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
}

.main-header {
  padding: 1rem;
}

.country-name {
  padding-top: 1rem;
}

.table {
  border: 1px black solid;
  padding: 1rem;
  margin: 1rem;
}

.result-row {
  border-bottom: 2px #000000 solid;
  margin-bottom: 10px;
  display: flex;
  justify-items: auto;
  justify-content: space-between;
  padding: 1rem;
}

.score-holder {
  color: red;
}

.button {
  background-color: lime;
  color: blue;
  font-weight: 900;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: .4rem;
}

.button:hover {
  background-color: rgb(39, 164, 83);
  color: white;
}
